In [1]:
import requests
from bs4 import BeautifulSoup
import pandas as pd

In [2]:
url="https://en.wikipedia.org/wiki/Lists_of_21st-century_earthquakes"

In [3]:
req=requests.get(url)
print(req)

<Response [200]>

In [4]:
soup=BeautifulSoup(req.text,"html")

In [7]:
tab=soup.find('div', class_ = "mw-content-ltr mw-parser-output")

In [14]:
head=tab.find_all('table')[3]

In [17]:
col_head=head.find_all('th')

In [20]:
name=[]
for i in col_head:
    title=i.text.strip()
    name.append(title)

In [21]:
name

['Year', 'Fatalities', 'Magnitude', 'Event', 'Location', 'Date', 'Death toll']

In [22]:
df=pd.DataFrame(columns=name)

In [23]:
df

Empty DataFrame
Columns: [Year, Fatalities, Magnitude, Event, Location, Date, Death toll]
Index: []

In [45]:
row_datas=[]
for tdata in head.find_all('tr'):
    dat=[rows.text.strip() for rows in tdata.find_all('td') if any(rows)]
    row_datas.append(dat)

In [46]:
row_datas

[[],
 ['2001',
  '20,085',
  '7.7',
  '2001 Gujarat earthquake',
  'India',
  'January 26',
  '21,357'],
 ['2002',
  '1,200',
  '6.1',
  '2002 Hindu Kush earthquakes',
  'Afghanistan',
  'March 25',
  '2,693'],
 ['2003',
  '34,000',
  '6.6',
  '2003 Bam earthquake',
  'Iran',
  'December 26',
  '36,832'],
 ['2004',
  '227,898',
  '9.1–9.3',
  '2004 Indian Ocean earthquake and tsunami',
  'Indonesia, Indian Ocean',
  'December 26',
  '227,898'],
 ['2005',
  '87,351',
  '7.6',
  '2005 Kashmir earthquake',
  'Pakistan',
  'October 8',
  '87,992'],
 ['2006',
  '5,782',
  '6.4',
  '2006 Yogyakarta earthquake',
  'Indonesia',
  'May 26',
  '6,605'],
 ['2007', '595', '8.0', '2007 Peru earthquake', 'Peru', 'August 15', '708'],
 ['2008',
  '87,587',
  '7.9',
  '2008 Sichuan earthquake',
  'China',
  'May 12',
  '88,708'],
 ['2009',
  '1,115',
  '7.6',
  '2009 Sumatra earthquakes',
  'Indonesia',
  'September 30',
  '1,790'],
 ['2010',
  '160,000',
  '7.0',
  '2010 Haiti earthquake',
  'Haiti',
  'January 12',
  '164,627'],
 ['2011',
  '19,759',
  '9.0–9.1',
  '2011 Tōhoku earthquake and tsunami',
  'Japan',
  'March 11',
  '21,492'],
 ['2012',
  '306',
  '6.4',
  '2012 East Azerbaijan earthquakes',
  'Iran',
  'August 11',
  '689'],
 ['2013',
  '825',
  '7.7',
  '2013 Balochistan earthquakes',
  'Pakistan',
  'September 24',
  '1,572'],
 ['2014', '729', '6.1', '2014 Ludian earthquake', 'China', 'August 3', '756'],
 ['2015',
  '8,964',
  '7.8',
  '2015 Nepal earthquake',
  'Nepal',
  'April 25',
  '9,624'],
 ['2016',
  '673',
  '7.8',
  '2016 Ecuador earthquake',
  'Ecuador',
  'April 16',
  '1,339'],
 ['2017',
  '630',
  '7.3',
  '2017 Iran–Iraq earthquake',
  'Iran',
  'November 12',
  '1,232'],
 ['2018',
  '4,340',
  '7.5',
  '2018 Sulawesi earthquake and tsunami',
  'Indonesia',
  'September 28',
  '5,239'],
 ['2019',
  '51',
  '6.4',
  '2019 Albania earthquake',
  'Albania',
  'November 26',
  '288'],
 ['2020',
  '119',
  '7.0',
  '2020 Aegean Sea earthquake',
  'Turkey\xa0Greece',
  'October 30',
  '207'],
 ['2021',
  '2,248',
  '7.2',
  '2021 Haiti earthquake',
  'Haiti',
  'August 14',
  '2,494'],
 ['2022',
  '1,163',
  '6.2',
  'June 2022 Afghanistan earthquake',
  'Afghanistan\xa0Pakistan',
  'June 21',
  '1,775–2,075'],
 ['2023',
  '59,259',
  '7.8',
  '2023 Turkey–Syria earthquakes',
  'Turkey\xa0Syria',
  'February 6',
  '59,556']]

In [38]:
dfs=pd.DataFrame(row_datas)

In [39]:
dfs.columns=name

In [40]:
dfs

,Year,Fatalities,Magnitude,Event,Location,Date,Death toll
0,2001,"20,085",7.7,2001 Gujarat earthquake,India,January 26,"21,357"
1,2002,"1,200",6.1,2002 Hindu Kush earthquakes,Afghanistan,March 25,"2,693"
2,2003,"34,000",6.6,2003 Bam earthquake,Iran,December 26,"36,832"
3,2004,"227,898",9.1–9.3,2004 Indian Ocean earthquake and tsunami,"Indonesia, Indian Ocean",December 26,"227,898"
4,2005,"87,351",7.6,2005 Kashmir earthquake,Pakistan,October 8,"87,992"
5,2006,"5,782",6.4,2006 Yogyakarta earthquake,Indonesia,May 26,"6,605"
6,2007,595,8.0,2007 Peru earthquake,Peru,August 15,708
7,2008,"87,587",7.9,2008 Sichuan earthquake,China,May 12,"88,708"
8,2009,"1,115",7.6,2009 Sumatra earthquakes,Indonesia,September 30,"1,790"
9,2010,"160,000",7.0,2010 Haiti earthquake,Haiti,January 12,"164,627"
10,2011,"19,759",9.0–9.1,2011 Tōhoku earthquake and tsunami,Japan,March 11,"21,492"
11,2012,306,6.4,2012 East Azerbaijan earthquakes,Iran,August 11,689
12,2013,825,7.7,2013 Balochistan earthquakes,Pakistan,September 24,"1,572"
13,2014,729,6.1,2014 Ludian earthquake,China,August 3,756
14,2015,"8,964",7.8,2015 Nepal earthquake,Nepal,April 25,"9,624"
15,2016,673,7.8,2016 Ecuador earthquake,Ecuador,April 16,"1,339"
16,2017,630,7.3,2017 Iran–Iraq earthquake,Iran,November 12,"1,232"
17,2018,"4,340",7.5,2018 Sulawesi earthquake and tsunami,Indonesia,September 28,"5,239"
18,2019,51,6.4,2019 Albania earthquake,Albania,November 26,288
19,2020,119,7.0,2020 Aegean Sea earthquake,Turkey Greece,October 30,207
20,2021,"2,248",7.2,2021 Haiti earthquake,Haiti,August 14,"2,494"
21,2022,"1,163",6.2,June 2022 Afghanistan earthquake,Afghanistan Pakistan,June 21,"1,775–2,075"
22,2023,"59,259",7.8,2023 Turkey–Syria earthquakes,Turkey Syria,February 6,"59,556"

In [41]:
dfs.to_csv('Deadliest earthquake.csv')